class RegistrationsController < ApplicationController
  prevent_authenticated_access only: %i(new create)
  allow_unauthenticated_access only: %i(new create)

  def new
    @person = Person.new
  end

  def create
    @person = Person.new(email_address: params[:person][:email_address])

    if @person.valid?
      EmailVerificationMailer.verify(@person.attributes).deliver_later

      render :create
    else
      render :new, status: :unprocessable_entity
    end
  end
end
